doctype html
html
    head
        title Debug Info Page
        include browser_dependencies.pug
        link(rel='stylesheet' href=`${env.CSS}/debug.entrypoint.css`)
        script(src=`${env.SRC}/debug.entrypoint.js`)
    body
        div(class='jumbotron')
            h1 #{env.APPNAME}
            p Debug Info Page
        div(class='container-fluid')
            table(class='table table-responsive table-hover text-center')
                tr
                    th(class='text-center') Branding
                    th(class='text-center') Value
                tr
                    td Organisation
                    td #{env.ORGANISATION}
                tr
                    td Application Name
                    td #{env.APPNAME}
            table(class='table table-responsive table-hover text-center')
                tr
                    th(class='text-center') Runtime
                    th(class='text-center') Version
                each runtime in ['Node', 'Chrome', 'Electron']
                    tr
                        td= runtime
                        td
                            span(id=`${runtime.toLowerCase()}_version`)
            table(class='table table-responsive table-hover text-center')
                tr
                    th(class='text-center') Directory
                    th(class='text-center') Path
                each location in ['Project', 'Sources', 'Tests', 'HTML', 'CSS', 'Images']
                    tr
                        td= location
                        td
                            span(id=`${location.toLowerCase()}_dir`)
