doctype html
html
    head
        meta(http-equiv='content-type' content='text/html; charset=UTF-8')
    body(bgcolor='#FFFFFF' text='#000000')
        br
        div
            div
                center
                    div(style='word-wrap:break-word')
                        table(style="border:none;width:600px;color:rgb(85,85,85);font-family:Optima,'Trebuchet MS',sans-serif" border='0' width='600')
                            tbody
                                tr
                                    td(style='padding:10px 20px;vertical-align:middle;width:auto;text-align:center;font-size:9pt;margin:0px')
                                        | Having trouble reading this? View it in your browser #[a(href=`${host}${uri}`) here]!
                                tr
                                    td(style='padding:10px 20px;vertical-align:top;width:auto;text-align:justify;font-size:10pt')
                                        | #{date}
                                tr
                                    td(style='padding:10px 20px;vertical-align:middle;width:auto;text-align:justify;font-size:26pt;margin:0px')
                                        | #[img(src=`${logo}`)]&nbsp;&nbsp;&nbsp;&nbsp;#{header}
                        each item in items
                            table(style="border:none;width:600px;table-layout:fixed;color:rgb(85,85,85);font-family:Optima,'Trebuchet MS',sans-serif" border='0' width='600')
                                tbody
                                    tr
                                        td(style='padding:10px 20px;vertical-align:top;width:auto;text-align:justify;font-size:12pt')
                                            p(style='text-align:center;color:rgb(17,17,17);font-size:24pt;margin:10px 0px') #{item.title}
                                            div(style='width:556px;min-height:10px;text-align:center;vertical-align:middle;background-repeat:initial initial')
                                                img(src=`${item.image}`)
                                            p!= item.text
                        table(style="border:none;width:600px;color:rgb(85,85,85);font-family:Optima,'Trebuchet MS',sans-serif" border='0' width='600')
                            tbody
                                tr
                                    td(style='padding:10px 20px;vertical-align:top;width:auto;text-align:justify;font-size:12pt')
                                        p(style='color:rgb(17,17,17);font-size:24pt;margin:10px 0px') Contact Us
                                        p(style='font-size:20pt;margin:10px 0px') NUS Students' Computing Club
                                        p(style='font-size:10pt;margin:10px 0px') A Constituent Club of the NUS Students' Union
                                        p
                                            | Computing 1, 13 Computing Drive, Singapore
                                            | 117417
                                        p
                                            | Website: #[a(href="http://nuscomputing.com" style="color:rgb(34,118,244);text-decoration:none") nuscomputing.com]
                                            br
                                            | Facebook: #[a(href="http://fb.com/nuscomputing" style="color:rgb(34,118,244);text-decoration:none") fb.com/nuscomputing]
                                            br
                                            | Instagram: #[a(href="http://instagr.am/nuscomputingclub" style="color:rgb(34,118,244);text-decoration:none") instagr.am/nuscomputingclub]
                                            br
                                            | Email: #[a(href='mailto:connect@nuscomputing.com' style='color:rgb(34,118,244);text-decoration:none' target='_blank') connect@nuscomputing.com]
                                            br
                        table(style="border:none;width:600px;color:rgb(85,85,85);font-family:Optima,'Trebuchet MS',sans-serif" border='0')
                            tbody
                                tr
                                    td(style='padding:10px 20px;vertical-align:top;width:auto;text-align:justify')
            br
        br
        br
