doctype html
html
    head
        title #{process.env.APPNAME}
        include browser_dependencies.pug
        link(rel='stylesheet' href=`${process.env.CSS}/entrypoint.css`)
        script(src=`${process.env.SRC}/entrypoint.js`)
        // SweetAlert2
        script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css')
        // Include a polyfill for ES6 Promises (optional) for IE11 and Android browser
        script(src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js')
    body
        .jumbotron#region_header
            h1 #{process.env.APPNAME}
        nav.navbar.navbar-inverse#region_navbar
            .container-fluid
                ul.nav.navbar-nav
                    li#nav_content #[a(href='#') Email Content]
                    li#nav_image #[a(href='#') Image Upload]
                    li#nav_authentication #[a(href='#') Authentication]
                    li#nav_send #[a(href='#') Send]
        .container-fluid#region_main
            #tab_content
                #editor_blast.editor
                    include edm_defaults.json
                #editor_blast_html.editor
            #tab_image
                form.form-horizontal
                    .form-group
                        label.control-label.col-sm-2(for='img_server') Server:
                        .col-sm-10
                            input#img_server.form-control(type='text', placeholder='Enter the hostname of the server to upload the image into.', value=`${config.upload_account.upload_server}`)
                    .form-group
                        label.control-label.col-sm-2(for='img_path_src') Source Path:
                        .col-sm-10
                            input#img_path_src.form-control(type='text', placeholder='Enter the (local) path to the image that is to be uploaded, including the filename itself.', value=`${config.upload_account.upload_source}`)
                    .form-group
                        label.control-label.col-sm-2(for='img_path_dest') Destination Path:
                        .col-sm-10
                            input#img_path_dest.form-control(type='text', placeholder='Enter the (remote) path to the directory on the server where the image is to be uploaded, including the filename itself.', value=`${config.upload_account.upload_destination}`)
                    .form-group
                        label.control-label.col-sm-2(for='img_user') Credentials:
                        .col-sm-5
                            input#img_user.form-control(type='text', placeholder='Username', value=`${config.upload_account.username}`)
                        .col-sm-5
                            input#img_password.form-control(type='password', placeholder='Password', value=`${config.upload_account.password}`)
                    .form-group
                        .col-sm-2
                        .col-sm-10
                            button#upload_image.btn.btn-danger(type='button' value='') Upload
            #tab_authentication
                form.form-horizontal
                    .form-group
                        label.control-label.col-sm-2(for='auth_host') Email Host:
                        .col-sm-10
                            input#auth_host.form-control(type='text', placeholder='Enter the hostname of the SMTP server to use.', value=`${config.email_account.smtp_server}`).
                    .form-group
                        label.control-label.col-sm-2(for='auth_port') Port:
                        .col-sm-10
                            input#auth_port.form-control(type='text', placeholder='Enter the port used by the SMTP server specified above.', value=`${config.email_account.port}`)
                    .form-group
                        label.control-label.col-sm-2(for='auth_secure') Secure:
                        .col-sm-10
                            input#auth_secure(type='checkbox' value='')
                    .form-group
                        label.control-label.col-sm-2(for='auth_username') Username:
                        .col-sm-10
                            input#auth_username.form-control(type='text', placeholder='Enter your username for the SMTP server specified above.', value=`${config.email_account.username}`)
                    .form-group
                        label.control-label.col-sm-2(for='auth_password') Password:
                        .col-sm-10
                            input#auth_password.form-control(type='password', placeholder='Enter the password corresponding to your username above.', value=`${config.email_account.password}`)
            #tab_send
                form.form-horizontal
                    .form-group
                        label.control-label.col-sm-2(for='send_from_name') Sender name:
                        .col-sm-10
                            input#send_from_name.form-control(type='text', value=`${config.email_header.sender_name}`)
                    .form-group
                        label.control-label.col-sm-2(for='send_from_email') Sender email address:
                        .col-sm-10
                            input#send_from_email.form-control(type='email', placeholder='Enter the email address to blast from.', value=`${config.email_header.sender_email}`)
                    .form-group
                        label.control-label.col-sm-2(for='send_to_name') Recipient name:
                        .col-sm-10
                            input#send_to_name.form-control(type='text', value=`${config.email_header.recipient_name}`)
                    .form-group
                        label.control-label.col-sm-2(for='send_to_email') Recipient email address:
                        .col-sm-10
                            input#send_to_email.form-control(type='email', placeholder='Enter the email address to blast to.', value=`${config.email_header.recipient_email}`)
                    .form-group
                        label.control-label.col-sm-2(for='send_bcc') BCC:
                        .col-sm-10
                            input#send_bcc.form-control(type='email', value=`${config.email_header.bcc}`)
                    .form-group
                        label.control-label.col-sm-2(for='send_replyTo_name') Reply-to recipient name:
                        .col-sm-10
                            input#send_replyTo_name.form-control(type='text', value=`${config.email_header.reply_to_name}`)
                    .form-group
                        label.control-label.col-sm-2(for='send_replyTo_email') Reply-to email address:
                        .col-sm-10
                            input#send_replyTo_email.form-control(type='email', value=`${config.email_header.reply_to_email}`)
                    .form-group
                        label.control-label.col-sm-2(for='send_subject') Email subject:
                        .col-sm-10
                            input#send_subject.form-control(type='email', placeholder='Enter the email subject.', value=`${config.email_header.subject}`)
                    .form-group
                        .col-sm-2
                        .col-sm-10
                            button#blast.btn.btn-danger(type='button' value='') BLAST
                            button#upload_html.btn.btn-default.disabled(type='button' value='') MANUALLY UPLOAD GENERATED HTML
