doctype html
html
    head
        title Computing Club Email Blast - Info Page
        include browser_dependencies.pug

        link(rel='stylesheet', href=`${dir.CSS}/info.css`)
        script(src=`${dir.SRC}/info.js`)
    body
        div(class='jumbotron')
            h1 Computing Club Email Blast
            p Development Info Page
        table(class='table table-responsive table-hover text-center')
            tr
                th(class='text-center') Runtime
                th(class='text-center') Version
            each runtime in ['Node', 'Chrome', 'Electron']
                tr
                    td= runtime
                    td
                        span(id=`${runtime.toLowerCase()}_version`)
        table(class='table table-responsive table-hover text-center')
            tr
                th(class='text-center') Directory
                th(class='text-center') Path
            each location in ['Project', 'Sources', 'Tests', 'HTML', 'CSS', 'Images']
                tr
                    td= location
                    td
                        span(id=`${location.toLowerCase()}_dir`)
